name: Deploy
on:
  push:
    branches:
      - master
        
jobs: 
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '10.x'
      - name: build
        run: npm run build
      - name: deploy
      - uses: w9jds/firebase-action@v2.0.0
        with: 
          args: deploy --only hosting
        env: 
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
